{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="card-header">
    <h5 class="mb-0">Daftar User</h5>
 </div>
<div class="table-responsive">
    <table class="table table-flush" id="datatable-search">
        <thead class="thead-light">
            <tr>
                <th>No</th>
                <th class="text-center">Username</th>
                <th class="text-center">Nama Lengkap</th>
                <th class="text-center">Is staff</th>
                <th class="text-center">Groups</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            
            {% for user in daftar_user %}
                <tr>
                    <td class="text-sm font-weight-normal">{{ forloop.counter }}</td>
                    <td class="text-sm font-weight-normal text-center">
                        <span class="badge badge-primary">{{ user.username }}</span>
                    </td>
                    <td class="text-sm font-weight-norma text-center">{{ user.first_name|default:'-' }} {{ user.last_name|default:'-' }}</td>
                    <td class="text-sm font-weight-bold text-center">
                        <span class="{% if user.is_staff %}text-success{% else %}text-danger{% endif %}">
                            {% if user.is_staff %}
                                YA
                            {% else %}
                                BUKAN
                            {% endif %}
                        </span>
                    </td>
                    <td class="text-sm font-weight-normal text-center">
                        
                        {% for group in user.groups.all %}
                            <span class="badge badge-dark">{{ group.name }}</span>
                        {% empty %}
                            <span class="badge badge-dark">-</span>
                        {% endfor %}
                            
                    </td>
                    <td class="text-sm font-weight-bold text-center">
                        <a class="btn btn-warning btn-sm" href="{% url 'admin_management_user_edit' user.id %}" >Edit</a>
                        <a class="btn btn-danger btn-sm" onclick="return confirm('Yakin ingin hapus?')" href="">Hapus</a>
                    </td>
                </tr>
            {% endfor %}
                
        </tbody>
    </table>
</div>
{% endblock %}


{% block js %}
    <script src="{% static 'dashboard/assets/js/plugins/datatables.js' %}"></script>
    <script>
    const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
      searchable: true,
      fixedHeight: true
    });
    </script>
{% endblock %}
    