{% extends 'landingpage/base.html' %}
{% load static %}

{% block content %}
    <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
        <!-- START Blogs with Images, Quote, and Text -->
        <section class="py-5 mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <!-- Category -->
                        <h6 class="opacity-7 text-uppercase font-weight-bolder text-sm">{{ artikel.kategori }}</h6>
                        <!-- Article Image -->
                        <img src="{{ artikel.gambar.url }}" alt="Artikel Image" class="img-fluid">
                        <!-- Article Title -->
                        <h3 class="title mb-4">{{ artikel.judul }}</h3>
                        <!-- Article Content -->
                        <p class="text-dark">{{ artikel.konten|safe }}</p>
                        <!-- Article Created At -->
                        <p class="text-dark" style="font-style: italic;">{{ artikel.created_at }}</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Related Articles Section -->
        <section class="py-7">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12 mb-4">
                        <h3 class="mb-1">Lihat Artikel Lainnya</h3>
                    </div>
                </div>
                <div class="row">
                    <!-- Related Articles -->
                    {% for artikel in artikel_lainnya %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-header p-0 mx-3 mt-n4 position-relative z-index-1">
                                <a href="javascript:;" class="d-block blur-shadow-image">
                                    <img src="{{ artikel.gambar.url }}" class="img-fluid border-radius-md" alt="Artikel Thumbnail" loading="lazy">
                                </a>
                            </div>
                            <div class="card-body">
                                <!-- Category Tag -->
                                <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold">{{ artikel.kategori }}</span>
                                <!-- Article Title -->
                                <a href="{% url 'detail_artikel' artikel.id %}" class="card-title mt-3 h5 d-block text-darker">{{ artikel.judul }}</a>
                                <!-- Article Description -->
                                <p class="card-description mb-4">{{ artikel.konten|truncatechars:200|safe }}</p>
                                <!-- Author Information -->
                                <div class="author align-items-center">
                                    <img src="{% static 'landingpage/assets/img/team-2.jpg' %}" alt="Author Image" class="avatar shadow" loading="lazy">
                                    <div class="name ps-2">
                                        <span>{{ artikel.author }}</span>
                                        <div class="stats">
                                            <small>{{ artikel.created_at }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
