{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

  <!-- Tombol Tambah Artikel -->
  <div class="row mt-4">
    <div class="col-lg-12">
      <a href="{% url 'artikel_tambah' %}" class="btn btn-warning w-auto me-2">Tambah Artikel</a>
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">Data Artikel Anda</h5>
          <p class="text-sm mb-0">Banyak hal menarik yang dapat anda temukan disini, Have a read, my dear, and embrace the beauty of self-care!</p>
        </div>
        <div class="table-responsive">
          <table class="table table-flush" id="datatable-search">
            <thead class="thead-light">
              <tr>
                <th>No</th>
                <th>Judul</th>
                <th>Kategori</th>
                <th>Status</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for artikel in artikel %}
                <tr>
                  <td class="text-sm font-weight-normal">{{ forloop.counter }}</td>
                  <td class="text-sm font-weight-normal">{{ artikel.judul }}</td>
                  <td class="text-sm font-weight-normal">{{ artikel.kategori }}</td>
                  <td class="text-sm font-weight-normal">{{ artikel.status }}</td>
                  <td class="text-sm font-weight-normal text-center">
                    <a class="btn btn-warning btn-sm" href="{% url 'artikel_update' artikel.id %}">Edit</a>
                    <a class="btn btn-danger btn-sm" onclick="return confirm('Yakin ingin hapus?')" href="{% url 'artikel_delete' artikel.id %}">Hapus</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'dashboard/assets/js/plugins/datatables.js' %}"></script>
  <script>
    const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
      searchable: true,
      fixedHeight: true
    });
  </script>
{% endblock %}
