{% extends "base.html" %}

{% block content %}
<div class="container" style="padding: 20px">
  <div class="row g-4">
    <div class="col-12 col-md-3">
      <div class="card">
        <img src="https://i.pinimg.com/736x/71/d1/22/71d12254f7afa3e4547ef7e8a25cd05d.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-3">
      <div class="card">
        <img src="https://i.pinimg.com/736x/47/63/4d/47634d88aed269ec3eb500c11e78c09c.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-3">
      <div class="card">
        <img src="https://i.pinimg.com/736x/3b/50/55/3b5055f5cb30f749a55fe2a27c74b95d.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-3">
      <div class="card">
        <img src="https://i.pinimg.com/736x/f3/45/fc/f345fcde05dd9fe4afe6db1208ac33b7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock  %}
