{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV KURNIATUSS SYA'IDAH</title>
</head>

<body>
    <div class="container">
        <!-- Header -->
        <header>
            <div class="profile">
                <img src="images/NIA.jpg" alt="Profile Image" class="profile-img">
                <h1>KURNIATUSS SYA'IDAH</h1>
                <p>(Mahasiswa S1 Teknik Informatika)</p>
            </div>
        </header>

        <!-- Data Pribadi Section -->
        <section>
            <h2>Data Pribadi</h2>
            <ul>
                <li><strong>Nama:</strong> Kurniatuss Sya'idah</li>
                <li><strong>Tempat, Tanggal Lahir:</strong> Sangatta, 17 Desember 2004</li>
                <li><strong>Jenis Kelamin:</strong> Perempuan</li>
                <li><strong>Alamat:</strong> Jl. Juanda IV Jalur I No.55</li>
                <li><strong>Kewarganegaraan:</strong> Indonesia</li>
                <li><strong>Agama:</strong> Islam</li>
                <li><strong>Nomor Telepon:</strong> +628-456-7890</li>
                <li><strong>Email:</strong> athalaniasein@gmail.com</li>
                <li><strong>Status:</strong> Belum Menikah</li>
            </ul>
        </section>

        <!-- Pendidikan Section -->
        <section>
            <h2>Pendidikan</h2>
            <ul>
                <li>SMA 1 Sangatta Utara (2021 - 2023)</li>
                <li>Universitas Muhammadiyah Kalimantan Timur (2023 - sekarang)</li>
            </ul>
        </section>

        <!-- Keterampilan Section -->
        <section>
            <h2>Keterampilan</h2>
            <ul>
                <li>Desain Grafis menggunakan Canva dan Figma</li>
                <li>Mampu bekerja dalam tim</li>
            </ul>
        </section>

        <!-- Pengalaman Section -->
        <section>
            <h2>Pengalaman</h2>
            <ul>
                <li>Desain Grafis</li>
            </ul>
        </section>
    </div>
</body>

</html>
{% endblock  %}
